[Unit]
Description=borgmatic backup
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/home/tobias/miniforge3/bin/borgmatic create
